{% extends "base.html" %}

{% block content %}
<div style="width: 50%; margin: auto">
    <h1>{% block title %} About {% endblock %}</h1>

    <hr>    

    <p style="font-size: 20px; word-wrap: break-word; max-width: 500px; margin-left: 1%;">
---
Welcome to Scamazon, <br> where we've harnessed the power of Python Flask and Docker to deliver a seamless and efficient online shopping experience. <br> At Scamazon, we're committed to using cutting-edge technology to ensure you have a smooth and secure journey while shopping on our platform.

<br>
<br>
Python Flask: Scamazon is built on Python Flask, a lightweight yet robust web framework. <br> Flask allows us to develop dynamic web applications with ease, ensuring that you have access to real-time product information and a user-friendly interface. The flexibility and scalability of Flask enable us to continuously innovate and enhance your shopping experience.
<br>
<br>
Docker: We leverage Docker, a containerization platform, to streamline our development and deployment processes. <br> Docker containers package everything our website needs to run, from the application code to dependencies, in a consistent and isolated environment. This means faster development cycles, improved scalability, and enhanced security for your online shopping.
<br>
<br>
By combining Python Flask and Docker, Scamazon has crafted a website that's not only user-friendly but also reliable and highly performant. <br> Our dedication to staying at the forefront of technology ensures that you get the best possible online shopping experience when you visit Scamazon.
<br>
<br>
Explore our platform today and discover the seamless synergy of Python Flask and Docker in action at Scamazon!
---.</p>
    <hr>
    </div>
{% endblock %}
