{% extends 'base.html' %} {% block content %}
<div>
<h1 style="text-align: center">{% block title %} Products {% endblock %}</h1>
<a style="text-align: center" href="{{ url_for('logout' ) }}">
      <button>Log Out: {{ user}}</button>
  </a>
</div>
<div style="width: 20%; margin: auto">
<div
  style="
    padding: 10px;
    background-color: #e6f9ff;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
  "
>
<h2>{% block subtitle %} New Products {% endblock %}</h2>
  <form action="/add_products" method="post" enctype="multipart/form-data">
    <label for="name">Name of the product:</label><br />
    <input type="text" name="name" required /><br /><br />
    <label for="price">Price:</label><br />
    <input type="text" name="price" required /><br /><br />
    <label for="images">Images(only working on with urls):</label><br />
    <input type="text" name="images" /><br /><br />

    <input type="submit" value="add product" />
  </form>
</div>
</div>

</div>

<div style="width: 60%; margin: auto">
  <h2 style="text-align: center">{% block undertitle %} All Products {% endblock %}</h2>
  {% for product in products %}
  <div
    style="
      padding: 10px;
      background-color: #e6f9ff;
      margin: 10px;
      border-radius: 10px;
      display: inline-block;
    "
  >
    <p>id:{{ product.id }}</p>
    <div>
      <form action="/update" method="post" enctype="multipart/form-data">
        <input hidden name="id" value="{{ product.id }}" />
        <p>
          <input type="text" name="updateOrder" value="{{ product.order }}" />
        </p>
        <p>
          <input type="text" name="updatePrice" value="{{ product.price }}" />
        </p>
        <p>
          <input type="text" name="updateCat" value="{% for cat in product.category %} {{ cat}} {% endfor %}" />
        </p>
        <p>
          <input type="text" name="updateImg" value="{{ product.image }}" />
        </p>
        <p>
          <img style="height: 100px; margin-left: 10px;" src="{{ product.image }}" alt="image of {{product.order}}" />
        </p>
          <br />
          <br />
          <input type="submit" value="Update Order" />
        </p>
      </form>
    </div>

    <a href="{{ url_for('delete_p', id=product.id ) }}"
      ><button>Delete Order</button></a
    >
  </div>
  {% endfor %}
</div>
{% endblock %}
