<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} Home / Index {% endblock %} - Scamazon</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
        <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dropdown.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="icon"
      type="image/ico"
      href={{ url_for("static", filename="favicon.ico") }}>

  </head>

  <body>
    <nav class="main-nav">
      <a class="logo" href="{{ url_for('hello') }}">Scamazon</a>
      <a href="{{ url_for('products') }}">Products</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('server') }}">Server</a>
      {% if user["user"] != "false" %}
          <a href="{{ url_for('logout') }}">Log Out: {{ user["user"]}}</a>
          </a>
          <a href="{{ url_for('cart') }}"><i class="fa badge" style="font-size: 40px color:"white" value="{{value}}"
          ><i class="fa-solid fa-cart-shopping"></i></i></a>
        {% else %}
          <a href="{{ url_for('get_login') }}">Login</a>
        {% endif %}
      <div>
      
      </div>
    </nav>
    <hr />

    <div class="content">{% block content %} {% endblock %}</div>
    <footer>
      <div class="footer-column">
        <h3>Useful Links</h3>
        <ul>
          <a href="{{ url_for('hello') }}">Scamazon</a>
          <a href="{{ url_for('products') }}">Products</a>
          <a href="{{ url_for('about') }}">About</a>
          <a href="{{ url_for('server') }}">Server</a>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Newsletter Subscription</h3>
        <form action="/subscribe" method="post">
          <input type="email" name="email" placeholder="Enter your email" />
          <button class="button-89" type="submit">Subscribe</button>
        </form>
      </div>

      <div class="footer-column">
        <h3>Social Media</h3>
        <ul class="social-media-icons">
          <li><a href="#" class="facebook-icon">Facebook</a></li>
          <li><a href="#" class="twitter-icon">Twitter</a></li>
          <li><a href="#" class="instagram-icon">Instagram</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
