{% extends 'base.html' %} {% block content %}
<h1>{% block title %} Products {% endblock %}</h1>
<div style="width: 50%; margin: auto">
  {% for product in products %}
  <div
    style="
      padding: 10px;
      background-color: #e6f9ff;
      margin: 20px;
      border-radius: 10px;
      display: inline-block;
    "
  >
    <p>#{{ loop.index }}</p>
    <p style="font-size: 24px">{{ product.order }}</p>
    <p style="font-size: 24px">{{ product.price }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
